:root{

	--mainColor:#FFFF00;	--secondaryColor:#949400;

	--borderColor:#c7c700;

	--mainText:#fff;

	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(244, 208, 63, 0.8);

	--previewShadow:#7D6608;

	--buttonColor:#fff700;

}
